{% extends "admin/base.html" %}

{% block body %}
<h1 class="page-header">Problems</h1>

<table class="table table-condensed table-striped">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Public</th>
      <th>Publish Time</th>
      <th>Owner</th>
      <th>Prob. Size</th>
      <th>Owner's Sol. Size</th>
      <th># Perfect Sol.</th>
      <th># Sol.</th>
    </tr>
    {% for problem in problems %}
    <tr>
      <td>
        <a href="/admin/problem/view/{{ problem._id }}">{{ problem._id }}</a>
      </td>
      <td>
        {% if problem.public %}
        <span class="glyphicon glyphicon-ok"></span>
        {% endif %}
      </td>
      <td>
        <a href="/admin/problem/view/{{ problem._id }}">{{ format_timestamp(problem.publish_time) }}</a>
      </td>
      <td>
        <a href="/admin/user/view/{{ problem.owner }}">
          {{ team_display_name_map[problem.owner] }}
        </a>
      </td>
      <td>
        {{ problem.problem_size }}
      </td>
      <td>
        {{ problem.solution_size }}
      </td>
      <td>
        {{ problem.perfect_solution_count }}
      </td>
      <td>
        {{ problem.solution_count }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "bits/pagination.html" %}

{% endblock %}
