<div class="form-group">
  <label class="control-label">Team name</label>
  <input type="text" class="form-control" name="display_name" value="{{ user.display_name }}" maxlength="32" required>
</div>

<input type="hidden" name="contact_email" value="N/A">
<input type="hidden" name="member_names" value="N/A">
<input type="hidden" name="nationalities" value="N/A">
<input type="hidden" name="languages" value="N/A">
<input type="hidden" name="source_url" value="N/A">

<!--
<div class="form-group">
  <label class="control-label">Contact email address</label>
  <input type="email" class="form-control" name="contact_email" value="{{ user.contact_email }}" maxlength="256" required>
  <p class="help-block">
    We may contact you after the contest by this email address.
  </p>
</div>
<div class="form-group">
  <label class="control-label">Team member names</label>
  <textarea class="form-control" name="member_names" rows="6" maxlength="4096" required>{{ user.member_names }}</textarea>
  <p class="help-block">
    Put all your team member names (including the contact person) on each line.
  </p>
</div>
<div class="form-group">
  <label class="control-label">Nationalities (optional)</label>
  <input type="text" class="form-control" name="nationalities" value="{{ user.nationalities }}" maxlength="1024">
  <p class="help-block">
  Put the nationality of your team, e.g., "<code>JP</code>" or "<code>JP,US,CN</code>".  (This is optional.)
  </p>
</div>
<div class="form-group">
  <label class="control-label">Languages (not required until the contest ends)</label>
  <input type="text" class="form-control" name="languages" value="{{ user.languages }}" maxlength="1024">
  <p class="help-block">
    Put all the languages that your team used, e.g., "<code>JavaScript</code>" or "<code>JavaScript,x86 assembly language</code>".
  </p>
</div>
<div class="form-group">
  <label class="control-label">Source code URL (not required until the contest ends)</label>
  <input type="text" class="form-control" name="source_url" value="{{ user.source_url }}" maxlength="2083">
  <p class="help-block">
    Put a URL to all the source files that your team used.
    <ul>
      <li>You need to publish source codes <del>before the contest ends</del> <strong class="text-info">within 24 hours from the end of the contest</strong>.  Please keep them available during at least seven days from the end of the contest.</li>
      <li>If you cannot provide a public URL, please leave it blank and send your source files into <code>icfpcontest2016@googlegroups.com</code> by the end of the contest.  Please contact us if your source code is too large to send it via email.</li>
      <li>You don't have to submit your source code for the Lightning Round.</li>
    </ul>
  </p>
</div>
-->
